*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #0a3cce;
}
#page1
{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
}
#page1>#nav>img{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #fff;
    color: #fff;
    font-family: a;
    font-size: 15px;
}
#right-nav>button{
    padding: 12px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-family: a;
}

#bottom-page1{
    position: absolute;
    bottom: 5%;
    height: 35vh;
    width: 50vw;
    left: 10%;
}
#bottom-page1>h1{
    font-family: a;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
#bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
}
#bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: a;
}
#bottom-page1-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
    font-family: b;
}
#bottom-page1-inner>h4{
    font-size: 1.3vw;
    font-weight: 100;
    color: #fff;
}

#page2{
    display: flex;
    align-items: start;
    font-family: a;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #0a3cce;
    position: relative;
    padding: 0vw 8vw;
    color: white;
}
#page2>h2{
    font-weight: 100;
    margin-bottom: 60px;
}
#page2>h1{
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 4.2vw;
    color: #dadada8f;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: a;
    color: white;
    background-color: #0a3cce;
}
#page4>h2{
    margin-left: 15vw;
    margin-bottom: 2vw;
}
#page4>h1{
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    color: #dadada8f;
}
#page5{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#page5>canvas{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#page6{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: a;
    color: white;
    background-color: #0a3cce;
}
#page6>h2{
    margin-left: 15vw;
    margin-bottom: 2vw;
}
#page6>h1{
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    color: #dadada8f;
}
#page7{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#page7>canvas{
    position: relative;
   max-width: 100vw;
   max-height: 100vh;
   background-color: #0a3bce91;
}
.page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 30vw;
    z-index: 9;
    border: 1px solid #fff;
    border-radius: 50%;
}
.page7-cir-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
}
#page8{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-family: a;
}
.page8-bottom>h1{
    color: white;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}
.page8-bottom>button{
    padding: 20px 30px;
    border-radius: 50px;
    background-color: white;
    color: #0a3cce;
    border: none;
}
#page9{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
    font-family: a;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: white;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 45%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100wh;
}
#right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right-10-inner{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: a;
    color: white;
}
.right-10-inner h1{
    font-size: 2vw;
}
.right-10-inner p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}
#page11{
    position: relative;
    height: 110vh;
    width: 100wh;
    background-color: white;
    font-family: a;
}
#page11>h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: black;
    font-weight: 100;
    margin-bottom: 2vw;
}
.page11-inner{
    display: flex;
    position: relative;
    top: 18%;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;;
}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;

}
.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 1.1s;
}
.right11{
    padding-top: 5vw;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}
.right11>h4{
    font-weight: 100;
}
.right11>h1{
    font-weight: 2vw;
}
.left11:hover img{
    transform: scale(1.2);
}
